h1 {
    color: rgb(119, 158, 146);
    margin-left: 20px;
    font-size: 64px;
    font-family: 'Times';
}

.main-title {
    border-width: 4px;
    border-style: solid;
    border-color: rgb(119, 158, 146);
    padding: 40px;
    padding-left: 40px;
    margin-left: 525px;
    margin-right: 525px;
    font-family: Georgia;
    text-align: center;
    line-height: 35px;
}

body {
    font-family: Georgia;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 40px;
    line-height: 35px;
}

.main-heading {
    text-align: center;
    font-family: Verdana;
    font-weight: bolder;
    letter-spacing: 0.2em;
}

.border-properties {
    border-width: 4px;
    border-style: solid;
    border-color: rgb(119, 158, 146);
    padding: 40px;
    padding-left: 40px;
    margin-left: 525px;
    margin-right: 525px;
}

h2 {
    color: rgb(0, 0, 0);
    font-family: 'Verdana';
    font-style: inherit;
}

p {
    color: rgb(0, 0, 0);
    font-family: 'Verdana';
    line-height: 35px;
}

.rectangle-properties {
    border-color: rgb(119, 158, 146);
    border-width: 3px;
    border-style: solid;
    border-radius: 12px;
    text-align: center;
    padding: 20px;
    margin: 20px;
}

p:hover {
    color: rgb(119, 158, 146);
}

@keyframes bg-color-animation {
    25% {
        background-color: rgb(119, 158, 146)
    }

    50% {
        background-color: rgba(119, 158, 146, 0.637)
    }

    75% {
        background-color: rgba(119, 158, 146, 0.178)
    }

    100% {
        background-color: black;
    }
}